<div class="page">
  <div class="header">
    <h1>Gestionnaire de transaction</h1>
  </div>

  <div>
    <form>
      <input name="adresse" [(ngModel)]="address">
      <button (click)="addTransaction(this.address)"> Envoyer une transaction </button>
    </form>
  </div>

  <div class="content" *ngIf="this.filteredTransaction">
    <div class="transac-container">
      <h2>Mes Ventes</h2>
      <app-transaction-container (confirmTransactionEvent)="confirmTransaction($event)" *ngFor="let transaction of this.filteredTransaction.vente" [myTransation]="transaction"></app-transaction-container>
    </div>

    <div class="transac-container">
      <h2>Mes Achats en cours</h2>
      <app-transaction-container (confirmTransactionEvent)="confirmTransaction($event)" (cancelTransactionEvent)="cancelTransaction($event)" *ngFor="let transaction of this.filteredTransaction.transit" [myTransation]="transaction"></app-transaction-container>
    </div>

    <div class="transac-container">
      <h2>Mes Achats en Annulés</h2>
      <app-transaction-container  *ngFor="let transaction of this.filteredTransaction.cancel" [myTransation]="transaction"></app-transaction-container>
    </div>

    <div class="transac-container">
      <h2>Mes Achats Terminés</h2>
      <app-transaction-container *ngFor="let transaction of this.filteredTransaction.ok" [myTransation]="transaction"></app-transaction-container>
    </div>
  </div>
</div>

<button (click)="addTransaction()">ajout</button>
<button (click)="attributeTransaction()">test</button>







